body {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin: 0 auto;
  height: 100%;
  text-align: left;
  background-color: black;
  } 


p{
  padding: 10px;
  font-size: 18px;
}


div{
  margin-right: 20px;
  float: left;
}


.divA {
    background-color:whitesmoke;
    width:640px;
    margin-left: 130px;
    margin-right: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
 
 }

.divB {
    background-color: whitesmoke;
    width:660px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

#karlaimg {
  margin-right: 20px;
  margin-left: 5px;
    float:right;
}