body {
  margin-top: 0px;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  background-color: black;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .historyBox {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color:white;
    color: black;
    width: 600px;
    padding-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
}
 

#historyTitle {
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: aquamarine;
  font-size: 65px;
  background-color: black;
  width:650px;
  padding-top: none;
  padding-right: none;
  padding-left: none;
}

.directorBox {
  float: right;
  background-color: white;
  color: none;
  width:600px;
  padding-bottom: 30px;
  margin-right: 100px;
}

#directorTitle {
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: aquamarine;
  font-size: 65px;
  background-color: black;
  width:600px;
  padding-top: none;
  padding-right: none;
  padding-left: none;
}

#karlaimg {
  width: 300px;
	margin-right: 20px;
	margin-left: 5px;
	float: right;
}

p{
  padding: 40px;
  font-size: 18px;
  background-color: white;
}
 


 




