div {
  text-align: center;
}
body {
  margin: 0 auto;
}
main {
  margin: auto;
  text-align: center;
  padding-top: 49px;
}
#donate {
  align-items: center;
}
#whyDonate {
  font-size: 30px;
  margin-left: 550px;
  margin-right: 350px;
  margin-bottom: 50px;
  width: 800px;
}
p{
  font-size: 30px;
}