body {
	margin: 0 auto;
}

h2 {
	font-size: 4vmax;
	text-align: center;
	background-color: black;
	margin-top: -4px;
}

img {
	width: 100%;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#whyDonate {
	color: black;
	font-size: 30px;
	font-display: flex;
	justify-content: flex-start;
	max-width: 50vw;
	text-align: left;
}

#smart-button-container {
	float: right;
	max-width: 10vw;
}

.hamburger1 div {
  background-color: rgb(5, 5, 5);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}