body {
	margin: 0 auto;
}

h2 {
	text-align: center;
	background-color: black;
	margin-top: -3px;
}

img {
	width: 100%;
	align-items: center;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#whyDonate {
	color: black;
	font-size: 30px;
	font-display: flex;
	justify-content: flex-start;
	width: 850px;
	text-align: left;
}

#smart-button-container {
	float: right;
	width: 400px;
}