body {
  background-color: black;
}
img {
  position: absolute;
  transition: opacity 2s ease-in;
  max-width: 100%;
}
img + img { 
  opacity: 0; 
}
#Title {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dontext{
  color: rgb(94, 187, 156);
}