img{
  float: left;
  max-width: 450px;
  max-height: 300px;
}
.rightImg{
  float: right;
}
.centerText{
  margin: 0 auto;
  font-size: x-large;
  text-align: center;
  width: 700px;
  padding-bottom: 250px;
}
.centerMiddleText{
  margin: 0 auto;
  font-size: x-large;
  text-align: center;
  width: 700px;
  padding-bottom: 180px;
}
#makeup{
  margin-left: 70px;
}