
a {
  color: #fff;
  text-decoration: none;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #68CECE;
	font-size: 70px;
	/* opacity: 80%; */
	margin-bottom: 60px;
} 
.p-menu1{
   height: 100%;
}
.logo-img {
  display: block;
  margin-left: 48%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center;  */
  margin-top: 2em;
  
}
/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: right;
  z-index: 120;
}

.hamburger1 div {
  background-color: #fff;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 630px;
}

/* Menu */
.menu1 {
  width: 100%;
  background-color: rgb(0, 0, 0 , .80);
  margin: 0;
  /* display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-row-gap: 5px; */
  padding: 0;
  list-style: none;
  clear: both;
  width: 100%;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 500;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
  
}

.menu1 ul {
  float: left;
  width: 25%;
  margin-top: 1em;

}

.menu1 ul li{
margin-bottom: 20px;
text-align: left;
margin-left: 125px;
}



/* 
grid-template-rows: 1fr repeat(4, 0.5fr);
grid-template-columns: 1fr 1fr 1fr; */

/* .menu1 a:nth-child(7) {
  margin-bottom: 100px;
}

.menu1 a:last-child {
  margin-bottom: 100px;
} */

.link1 {
  /* width: 100%;
  margin: 0;
  padding: 10px 0; */
  font: 700 50px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

/* #iglogo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */