body{
  color: rgb(115, 72, 131);
}
article {
  background-color: rgb(206, 245, 245);
  width: 700px;
  font-size: larger;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
h3 {
  margin-bottom:30px;
  margin-left: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: aquamarine;
  font-size: 30px;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
p {
  font-size: 12px; 
}
div, form {
  text-align: center;
}
b {
  font-weight: 900;
  font-size: larger;
}
#middleText, #topText, #topTitle {
  font-size: xx-large;
  font-weight: 1000px;
}
#numEmail {
font-size: medium;
}
img {
  padding-top: 10px;
  padding-left: 30px;
}
button {
  color: rgb(115, 72, 131);
  float: left;
  margin-top: 55px;
  width: 145px;
  height: 50px;
  margin-bottom: 40px;
  font-size: larger;
  font-weight: 900;
}
.imagesLeft {
  margin-left:5px;
  margin-right: 10px;
  display: flex;
  flex-direction: column; 
  float: left;
}
.imagesRight {
  margin-right: 18px;
  margin-left: 10px;
  display: flex;
  flex-direction: column; 
  float: right;
 }
 #form2{
   margin-top: 60px;
   background-color: rgb(105, 23, 23);
 }
 #form2Input{
   text-align: left;
 }
 ul{
   padding: 20px;
 }
 li{
   padding: 5px;
 }