body {
  background-color: rgb(12, 12, 12);

}

hr {
  width: 100%;
}

#OdysseyRegistrationForm {
  float: center;
	background-color: rgb(242, 240, 243);
  max-width:46vw;
  font-size: larger;
  padding-top: 5vw;
  padding-right: 4vw;
  padding-left: 4vw;
  
  margin-top: 10px;
  margin-right: 23vw; 
  margin-left: 23vw;
  margin-bottom: 15vw; 
  margin-left: auto;
}
#emergencyForm {
  padding-top: 4vw;
  padding-bottom: 8vw;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	opacity: 80%;
	margin-bottom: 20px;
}
h3 {
  margin-bottom:30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
	color: #008C89;
<<<<<<< HEAD
  font-size: 70px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: aquamarine;
  font-size: 30px;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(115, 72, 131);
  font-size: 16px;
}
/* p {
  color: rgb(115, 72, 131);
  font-size: 12px; 
} */
=======
 font-size: 70px;
}


>>>>>>> 0d9324eb240e05466b195f22c90971c701d696cc
div, form {
  text-align: center;
}
main {
  margin: 0 auto;
}
b {
  font-weight: 900;
  font-size: larger;
}
#middleText, #topText, #topTitle {
  font-size: xx-large;
  font-weight: 1000px;
}

#numEmail {
font-size: medium;
}



button {
  float: left;
  margin-top: 55px;
  width: 145px;
  height: 50px;
  margin-bottom: 40px;
  font-size: larger;
  font-weight: 900;
  background-color: goldenrod;
}
img {
  padding-top: 10px;
}
.imagesLeft {
  max-width: 20vw;
  display: flex;
  flex-direction: column; 
  float: left;
  padding-left: 2vw;
}
.imagesRight {
  max-width:20vw;
  display: flex;
  flex-direction: column; 
  float: right;
  padding-right: 2vw;
 }
 #form2{
   margin-top: 60px;
   background-color: lightcoral;
 }
 #form2Input{
   text-align: left;
 }
