* {
	box-sizing: border-box;
}
body {
	width: 100%;
  margin: 0 auto;
	background-color: black;
}

h1 {
	font-family: 'Montserrat', sans-serif;
  color: #fff;
	font-size: 16em;
	opacity: 80%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #68CECE;
	font-size: 4em;
	margin-bottom: 1em;
}
h3 {
	/* font-family: 'Montserrat', sans-serif; */
	color: #060606;
	font-size: 2em;

}



h4 {
	font-family: 'Montserrat', sans-serif;
	color: #25A5A5;
	font-size: 30px;
}


/* .titleH4 {
	font-size: 55px;
	margin-top: 75px;
	margin-left: 75px;
} */

p {

	color: rgb(10, 10, 10);
	font-size: 16px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}

.linkDonate {
	margin-top: 60vw;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	border: none;
	color: #25A5A5;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.linkDonate {
	border-radius: 20px;
}



.becomeInvolvedBody  {
	background-color: rgb(7, 7, 7);

}

/* becomeInvolved Page */
.becomeInvolvedBody {

  text-align: center;
  font-size: 29px;
	color: rgb(242, 240, 243);
}
.becomeInvolvedH1 {
  font-size: 100px;
	color: rgb(242, 240, 243);
  margin-bottom: 90px;
}
.becomeInvolvedHR {
  margin: 35px;
}


/* index page  */
#Title {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 28vw;
  left: 50%; 
  transform: translate(-50%, -50%);
}
#dontext{
  color: #25A5A5;
}
.bodyBackground {
  background-color: black;
}
.imgSliderClass {
  position: absolute;
  transition: opacity 2s ease-in;
	max-width: 100%;
}
.imgSliderClass + img { 
  opacity: 0; 
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


