 * { 
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

body {
  /* margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px; */
} 

h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(115, 72, 131);
  font-size: 300px;
  opacity: 70%;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: aquamarine;
  font-size: 70px;
  opacity: 80%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(115, 72, 131);
  font-size: 40px;
  display: flex;
  justify-content: center;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: aquamarine;
  font-size: 30px;
  
}
h5 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(115, 72, 131);
  font-size: 20px;
}
p {
  /* font-family: 'Montserrat', sans-serif; */
  color: rgb(115, 72, 131);
  font-size: 16px; 
}
 
